{% extends "layout.html" %}
{% block content %}
<h1 class="heading">Monster Trainer</h1>
<h3 class="accuracy">
    <span class="label">Validation Score: </span>
    <span class="answers">{{ test_score }}</span>
    <br>
    <span class="label">Trained Monsters: </span>
    <span class="answers">{{ trained }}</span>
    <br>
    <span class="label">Untrained Monsters: </span>
    <span class="answers">{{ available }}</span>
    <br>
</h3>
<p>
    <button class="classic" onclick=window.location.replace("/retrain")>
        Retrain Model
    </button>
    <button class="classic" onclick=window.location.replace("/download")>
        Download Model
    </button>
</p>
{% endblock %}
